@font-face{
    font-family: 'NiShiWoWeiYiShouXuan';
    font-display: swap;
    src: url('../font/NiShiWoWeiYiShouXuan-2.ttf') format("truetype");
}
@font-face{
    font-family: 'YeZiGongChangShanHaiMingChao';
    font-display: swap;
    src: url('../font/YeZiGongChangShanHaiMingChao-2.ttf') format("truetype");
}

body {
    font-family: "Microsoft YaHei", 'NiShiWoWeiYiShouXuan','YeZiGongChangShanHaiMingChao';
}


